<!DOCTYPE html>
<html> 
<head>
    <title>@ViewBag.Title</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css"
        asp-fallback-href="/lib/twitter-bootstrap/css/*.min.css"
        asp-fallback-test-class="btn" asp-fallback-test-property="display" asp-fallback-test-value="inline-block" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" asp-fallback-src="lib/jquery/jquery.min.js" asp-fallback-test="window.jQuery"></script>
</head>
<body>
    <div class="m-2">
        <h6 class="bg-primary text-white m-2 p-2">
            Uncached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>

        @*относительное время*@
        @*<cache expires-after="@TimeSpan.FromSeconds(30)">*@ъ
        
        @*Абсалютное время хранения кэша*@
        @*<cache expires-on="@DateTime.Parse("2100-01-01")">*@

        @*Интервал истечения с момента последнего пользования*@
        <cache expires-sliding="@TimeSpan.FromSeconds(10)" vary-by-route="action">
            <h6 class="bg-primary text-white m-2 p-2">
                Cached timestamp: @DateTime.Now.ToLongTimeString()
            </h6>
        </cache>
        <img src="/images/city.png" asp-append-version="true" class="m-2 align-content-center align-content-xl-center" />
        @RenderBody()
    </div>
</body>
</html>